<h1>Create Book</h1>

<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
    <form action="books/creae" method="POST">
        {% csrf_token %}
        <!-- <label for="name">Book Title</label><br>
        <input type="text" name="name" id="name">

        <label for="isbn">ISBN</label><br>
        <input type="text" name="isbn" id="isbn">

        <label for="price">Price</label><br>
        <input type="number" name="price" id="price">
        <br />
         -->


        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name='name' value={{ book.name }} maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="number" class="form-control" id="isbn"
            name='isbn' value={{ book.isbn }} maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" name='price' class="form-control" id="price" value={{ book.price }}>
          </div> 
          <input type="submit" class="btn btn-primary-lg" value="Add">
        </form>

    

</div>